services:
  traefik:
    container_name: sprocket-traefik
    image: traefik
    volumes:
      - ./config/traefik:/traefik
      - ${DOCKER_SOCKET_PATH:-/var/run/docker.sock}:/var/run/docker.sock:ro
    command:
      - "--log.level=DEBUG"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      - "--entrypoints.websecure.http.tls=true"
      - "--providers.file.filename=/traefik/dyn.yaml"
    ports:
      - 80:80
      # If using TLS, uncomment
      # - 443:443

  core:
    container_name: sprocket-core
    image: oven/bun:latest
    restart: unless-stopped
    depends_on:
      - postgres
    volumes:
      - .:/app:rw
      - ./.env:/app/core/.env
      - ./config.yaml:/app/core/config.yaml
    command: bun --preload ../lib/src/tracing.ts --bun --watch src/main.ts
    ports:
      - 3000:3000
    working_dir: /app/core
    labels:
      traefik.enable: true
      traefik.http.routers.core.rule: Host(`${CORE_URL:-api.localhost}`)
      traefik.http.routers.core.entrypoints: web,websecure
      traefik.http.services.core.loadbalancer.server.port: 3000
    environment:
      SERVICE_NAME: "SprocketCore"

  web:
    container_name: sprocket-web
    image: oven/bun:latest
    depends_on:
      - core
    volumes:
      - .:/app
      - ./.env:/app/clients/web/.env
      - ./config.yaml:/app/clients/web/config.yaml
    command: bun run -b dev --host
    ports:
      - 5173:5173
    working_dir: /app/clients/web
    environment:
      PUBLIC_API_URL: ${CORE_URL:-api.localhost}
      PUBLIC_API_SECURE: ${SSL:-false}
      PUBLIC_API_PORT: ${LISTEN_PORT:-80}
      PRIVATE_API_URL: core
      PRIVATE_API_SECURE: false
      PRIVATE_API_PORT: 3000
    labels:
      traefik.enable: true
      traefik.http.routers.web.rule: Host(`${BASE_URL:-localhost}`)
      traefik.http.routers.web.entrypoints: web,websecure
      traefik.http.services.web.loadbalancer.server.port: 5173

  discord:
    container_name: sprocket-discord
    image: oven/bun:1.1.40-alpine
    volumes:
      - .:/app
      - ./.env:/app/clients/discord/.env
      - ./config.yaml:/app/clients/discord/config.yaml
    command: bun --preload ../../lib/src/tracing.ts -b --watch src/main.ts
    working_dir: /app/clients/discord
    environment:
      SERVICE_NAME: "SprocketDiscord"
      DB_HOST: postgres
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: postgres

  image-generation:
    container_name: sprocket-image-generation
    image: oven/bun:latest
    volumes:
      - .:/app
      - ./.env:/app/microservices/image-generation-service/.env
      - ./config.yaml:/app/microservices/image-generation-service/config.yaml
    command: bun --preload ../../lib/src/tracing.ts -b --watch src/main.ts
    working_dir: /app/microservices/image-generation-service
    environment:
      SERVICE_NAME: "SprocketImageGeneration"

  replay-parse:
    container_name: sprocket-replay-parse
    build:
      context: ./microservices/replay-parse-service
      dockerfile: Dockerfile
    volumes:
      - .:/app
      - ./.env:/app/microservices/replay-parse-service/.env
      - ./config.yaml:/app/microservices/replay-parse-service/config.yaml
    working_dir: /app/microservices/replay-parse-service
    environment:
      SERVICE_NAME: "SprocketReplayParse"

  postgres:
    container_name: sprocket-postgres
    image: postgres:15
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres


  ##########
  ##### Monitoring Services
  ##########

  grafana:
    image: grafana/grafana:latest
    # profiles: [monitoring]
    volumes:
      - ./config/grafana/datasources.yaml:/etc/grafana/provisioning/datasources/ds.yaml:ro
    ports:
      - "3002:3000"
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_AUTH_DISABLE_LOGIN_FORM=true
      - GF_FEATURE_TOGGLES_ENABLE=traceqlEditor traceQLStreaming metricsSummary
    labels:
      traefik.enable: true
      traefik.http.routers.grafana.rule: Host(`${GRAFANA_URL:-grafana.localhost}`)
      traefik.http.routers.grafana.entrypoints: web,websecure
      traefik.http.services.grafana.loadbalancer.server.port: 3000

  tempo:
    image: grafana/tempo
    # profiles: [monitoring]
    command: ["-config.file=/etc/tempo.yaml"]

    volumes:
      - ./config/tempo/tempo.yaml:/etc/tempo.yaml:ro

  loki:
    image: grafana/loki:2.9.4
    profiles: [monitoring]

  vector:
    profiles: [monitoring]
    image: timberio/vector:0.36.X-alpine
    volumes:
      - ./config/vector/vector.yaml:/etc/vector/vector.yaml:ro
      - ${DOCKER_SOCKET_PATH:-/var/run/docker.sock}:/var/run/docker.sock:ro

  jaeger:
    image: jaegertracing/all-in-one:latest
    profiles: [monitoring]
    ports:
      - 16686:16686  # Jaeger UI
      - 14268:14268  # Jaeger collector HTTP
      - 14250:14250  # Jaeger collector gRPC
      - 6831:6831/udp  # Jaeger agent compact
      - 6832:6832/udp  # Jaeger agent binary
    environment:
      - COLLECTOR_OTLP_ENABLED=true
      - SPAN_STORAGE_TYPE=elasticsearch
    labels:
      traefik.enable: true
      traefik.http.routers.jaeger.rule: Host(`${JAEGER_URL:-jaeger.localhost}`)
      traefik.http.routers.jaeger.entrypoints: web,websecure
      traefik.http.services.jaeger.loadbalancer.server.port: 16686

  prometheus:
    image: prom/prometheus:latest
    # profiles: [monitoring]
    volumes:
      - ./config/prometheus/prometheus.yaml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    labels:
      traefik.enable: true
      traefik.http.routers.prometheus.rule: Host(`${PROMETHEUS_URL:-prometheus.localhost}`)
      traefik.http.routers.prometheus.entrypoints: web,websecure
      traefik.http.services.prometheus.loadbalancer.server.port: 9090

  otel-collector:
    image: otel/opentelemetry-collector-contrib:latest
    # profiles: [monitoring]
    command: ["--config=/etc/otel-collector-config.yaml"]
    volumes:
      - ./config/otel-collector/config.yaml:/etc/otel-collector-config.yaml
    ports:
      - "4317:4317" # OTLP gRPC
      - "4318:4318" # OTLP HTTP
      - "8889:8889" # Prometheus exporter

networks:
  default:
    name: "sprocket-net"
    attachable: true
